.bienvenue {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    
}

.liste {
    background-color: #007BFF;
    text-align: center;
    color: white;
    font-size: 20px;
}

